includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 4
	paths:
		- attachment-taxonomies.php
		- inc/
	scanFiles:
		- tools/php/lint/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
